.actor_card_container{
    position: relative;
    padding: 8px;
    background-color:rgb(27, 27, 27);
    border-radius: 15px;
    text-transform: uppercase;
    height: 250px;
    width: 200px;
    cursor: pointer;
}

/* .actor_card_container:hover > .actor_image {
    opacity: .2;
}
*/
.actor_card_container:hover > .actor_name {
    background-color: white;
    /* background: linear-gradient(180deg, white 100%, white 100%, rgb(58, 58, 58) 100%); */
} 

.actor_name{
    position: relative;
    width: 200px;
    font-size: 13px;
    padding: 10px 0px;
    margin: 0px;
    color: rgb(26, 26, 26);
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    /* background: linear-gradient(180deg, white 0%, rgb(58, 58, 58) 0%, rgb(58, 58, 58) 100%); */
    transition: .5s;
    z-index: 1;
}


.actor_image{
    transition: .5s;
    height: 80%;
    aspect-ratio: 1/1;
    /* width: 90%; */
    object-fit: cover;
    border-radius: 10px;
}