.episodes_title{
    font-size: 50px;
    border-bottom: solid 6px rgb(220, 220, 220);
    padding-bottom: 2px;
}

.episodes_section{
    display: flex;
    margin-bottom: 30px;
}

.episodes_selector{
    display: flex;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    transition: 1.5s ease;
    /* background-color: red; */
    flex-grow: 1;
}

.episodes_selector_left{
    margin-left: 50px;
    transform: translateX(0%);
}

.episodes_container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episode_selected_content{
    box-sizing: border-box;
    width: 45%;
    text-align: start;
    padding: 0 40px;
    text-align: justify;
    height: fit-content;
    z-index: -1;
}

.episode_selected_content > p {
    font-weight: 300;
}

.episode_selected_content_animation{
    animation: append-animate;
    animation-duration: 4s;
}

@keyframes append-animate {
	0% {
		transform: translateX(-100%);
		opacity: 0;

	}
    30%{
        transform: translateX(-100%);
		opacity: 0;
    }
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.img_episode_info{
    width: 90%;
    /* object-fit: none; */
    height: auto;
}
