.cast_container{
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    justify-content: center;
}

.showpage_title{
    font-size: 70px;
    text-transform: uppercase;
}

.show_content{
    display: flex;
    justify-content: center;
}

.show_info{
    font-size: 14px;
    text-align: start;
    padding: 0px 40px;
    width: 40%;
    height: 500px;
}

.show_info_elements{
    font-weight: 500;
}

.show_image{
    width: min-content;
    min-width: 300px;
    height: 500px;
    object-fit: contain;
    background-color: green;
}

.show_desc{
    margin: 0px;
    text-align: justify;
    font-weight: 300;
}

.link_official_site{
    display: flex;
    gap: 4px;
    margin-left: 80%;
}

.link_official_site > img {
    color: white;
    width: 15px;
}

.link_official_site > a {
    color: white;
    font-size:17px;
    font-weight: 500;
    text-decoration: underline 2px;
}

.season_opc_container{
    width: 25%;
}

.cast_title{
    font-size: 50px;
    border-bottom: solid 6px rgb(220, 220, 220);
    /* border-bottom: solid 3px white; */
    padding-bottom: 2px;
}

.btn_show-actors{
    box-sizing: border-box;
    background-color: rgb(28, 28, 28);
    color: rgb(169, 169, 169);
    font-size: 20px;
    font-weight: lighter;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    margin: 40px 0 80px;
    border: 1px solid rgb(169, 169, 169);
    transition: .5s;
    /* box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.35); */
}

.btn_show-actors:hover{
    /* font-size: 22px; */
    background-color: black;
    color: rgb(243, 243, 243);
    width: 300px;
    border: 1px solid white;
}


