a{
    text-decoration: none;
}

.paperCard_container{
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: rgb(220, 220, 220);
    background-color: rgb(21, 21, 21);
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* height: auto; */
    height: 125px;
    /* width: 400px; */
    display: flex;
    justify-content: center;
}

.character_image{
    aspect-ratio: 5/7;
    width: fit-content;
    object-fit: cover;
    transform-origin: right top;
    transition: .5s;
}

.showPaper_image{
    width: fit-content;
    object-fit: contain;
    transform-origin: left top;
    transition: .5s;
}

.paperCard_container:hover .paper_text{
    color: black;
    letter-spacing: 1px;
    z-index: 1;
}

.paperCard_container:hover .paperText_description{
    font-weight: 600;
}

.paperCard_container:hover .divisor_line{
    height: 100%;
    width: 62.5%;
    border-radius: 0;
}


.paper_text{
    margin: auto;
    width: 80%;
    font-size: 19px;
    color: rgb(230, 230, 230);
    white-space: nowrap;
    padding: 0px 10px;
    overflow-x: hidden;
    transition: .4s;
}

.character_text{
    text-align: left;
    margin: 0px;
}

.show_text{
    text-align: right;
    margin: 0px;
}

.paperText_title{
    font-weight: normal;
    font-size: 0.5em;
    margin: 0px;
    margin-top: 5px;
}

.paperText_description{
    font-size: 1em;
    font-weight: 300;
    margin: 0px;
}

.divisor_line{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 3px;
    /* margin: 10px 0; */
    transition: .4s;
    transition-timing-function: ease-in-out;
}